site_name: Math Problems
site_url: https://dchorazkiewicz.github.io/Math_Problems_Repo/

theme:
  name: readthedocs
  palette:
    # Palette toggle for light mode
    - scheme: default
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode

    # Palette toggle for dark mode
    - scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode

markdown_extensions:
  - pymdownx.arithmatex:
      generic: true

extra_javascript:
  - javascripts/config.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - i18n:
      docs_structure: folder
      languages:
        - locale: en
          name: English
          default: true
          build: true
          nav:
            - Home: 'index.md'
            - Algebra:
              - '1. Matrices & Operations': '1_Algebra/01_matrices_and_operations_solution.md'
              - '2. Determinants': '1_Algebra/02_determinants_solution.md'
              - '3. Matrix Inversion': '1_Algebra/03_matrix_inversion_solution.md'
              - '4. Systems of Equations': '1_Algebra/04_systems_of_equations_solution.md'
            - Geometry:
              - '1. Vectors': '2_Geometria/01_vectors_solution.md'
              - '2. Lines': '2_Geometria/02_lines_solution.md'
              - '3. Planes': '2_Geometria/03_planes_solution.md'
              - '4. Line and Plane': '2_Geometria/04_line_and_plane_solution.md'
            - Analysis:
              - '1. Sequence Limits': '3_Analiza/01_sequence_limits_solution.md'
              - '2. Function Limits': '3_Analiza/02_function_limits_solution.md'
              - '3. Derivatives': '3_Analiza/03_derivatives_solution.md'
              - '4. Function Analysis': '3_Analiza/04_function_analysis_solution.md'
              - '5. Integrals': '3_Analiza/05_integrals_solution.md'
